/* 
Project Name: Kitten Ipsum
Client: General Assembly
Author: Max Nanzig
*/


/******************************************
/* SETUP                   
/*******************************************/


/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right; 
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left; 
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}



/******************************************
/* BASE STYLES                   
/*******************************************/

/* calc(100vh / 3) */


body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
}

h1 {
  font-size: 76px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  padding-bottom: 20px;
  color: #F5E8DC;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 90px;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-size: 18px;
  /*margin-top: 30px;*/
  margin-bottom: 10px;
}

h4 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 15px 0;
}



/******************************************
/* LAYOUT                   
/*******************************************/


.site {
  width: 100%;
}

.hero {
    background-image: url(../images/kitten.jpg);
    height: 100vh;
    width: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
  }

.column {
  float: left;
  width: 60%;
  height: 100vh;
  overflow: hidden;
}

.body {
    background-color: white;
}



.title {
  background-color: black;
  color: white;
  padding: 50px 50px 0 50px;
  height: calc(100vh / 9);
}

.options {
  background-color: #F5E8DC;
  height: calc(100vh / 9);
  padding: 50px;
}

.output {
  padding: 35px 50px;
  overflow: scroll;
  height: calc(100vh / 2);
}



/*---------DROPDOWN-----------*/



.dropbtn {
  background-color: black;
  color: white;
  padding: 16px 110px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 20px 150px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #383838;
}



/*---------CHECKBOXES-----------*/



.headline,
.subhead,
.headline h3,
.subhead h3,
.headline .container,
.subhead .container {
  display: inline-block;
  margin-right: 40px;
}

.headline h3,
.subhead h3 {
  margin-right: 10px;
}

/* The container */

.container {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: relative;
  display: block;
  height: 25px;
  width: 25px;
  background-color: black;
  top: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #383838;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*---------IPSUM-----------*/

#headline, #subhead, #paragraph1, #paragraph2, #paragraph3 {
  display: none;
}




















